In [2]:
# The while loop
counter = 0
while counter<12:
    print(counter)
    counter = counter + 1
print('Hello')

0
1
2
3
4
5
6
7
8
9
10
11
Hello

In [3]:
# The For loop
for i in range(12):
    print('Hello Python')

Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python

In [4]:
for i in range(5):
    print('Hello Python', i)

Hello Python 0
Hello Python 1
Hello Python 2
Hello Python 3
Hello Python 4

In [6]:
a = '*'
for i in range(10):
    print(a)

*
*
*
*
*
*
*
*
*
*

In [7]:
range(10)

range(0, 10)

In [8]:
range(5)

range(0, 5)

In [9]:
list{range(10)}

SyntaxError: invalid syntax (<ipython-input-9-acd6552124a4>, line 1)

In [10]:
list[range(10)]

TypeError: 'type' object is not subscriptable

In [11]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
for i in range(5):
    print('Hello Python: ', i)

Hello Python:  0
Hello Python:  1
Hello Python:  2
Hello Python:  3
Hello Python:  4

In [18]:
# Another way
myList = [10,12,15,20]

In [19]:
myList

[10, 12, 15, 20]

In [20]:
for jj in myList:
    print('The value is: ', jj)

The value is:  10
The value is:  12
The value is:  15
The value is:  20

In [21]:
for jj in myList:
    print('The value is: ', jj)
    jj1 = jj*jj
    print('The squared value is: ', jj1)

The value is:  10
The squared value is:  100
The value is:  12
The squared value is:  144
The value is:  15
The squared value is:  225
The value is:  20
The squared value is:  400